/* Root styles */
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* Layout styles */
.Container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; /* Adjust this value as needed */
}


.Header {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.Content {
    margin-top: 60px; /* Adjust based on TonConnectButton height */
}

.Footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Card styles */
.Card {
    background-color: #1E222D;
    border: 1px solid #485c7b;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    color: #DDD;
}

/* Specific component styles */
.ChartAndTrade {
    display: flex;
    margin-top: 20px;
}

.ChartCard {
    flex: 3;
    margin-right: 20px;
}

.Footer .Card {
    flex: 1;
    margin-right: 10px;
}

.Footer .Card:last-child {
    margin-right: 0;
}

/* You might want to keep these if they're used in child components */
.Hint {
    /* Add styles for .Hint if needed */
}

.TonConnectButtonWrapper {
    /* Add styles for .TonConnectButtonWrapper if needed */
}